@page "/autenticar"
@inject HttpClient client;
@using Newtonsoft.Json;

<PageTitle>Auntenticar</PageTitle>

@* https://getbootstrap.com/docs/5.2/content/tables/#overview *@

<div class="container bg-dark p-4">

    <div class="col-3 py-1">
        <p class="text-white fs-5 fw-bold">Usuário:</p>
        <input type="text" class="form-control" id="inputPassword2" @bind="InputUser" placeholder="">
    </div>
    <div class="col-3 py-1">
        <p class="text-white fs-5 fw-bold">Senha:</p>
        <input type="password" class="form-control" id="inputPassword2" placeholder="">
    </div>
    <div class="col-3 py-1" style="margin-top:10px;">
        <button type="submit" @onclick="Acessar" class="btn btn-primary mb-6">Confirmar acesso</button>
    </div>


    @if (acesso)
    {
        <p style="margin-top:25px;">Seja bem vindo: @InputUser</p>
        <p>Você tem a funcionalidade habilitada de:
            <ListarLogins />
        </p>

    }
</div>



@code {
    private bool acesso = false;
    private string? InputUser;
    List<Login>? Usuarios = new List<Login>();
    private void Acessar()
    {
        acesso = true;
    }

}