@page "/crudlogin"
@inject HttpClient client;

@if (Mostrar == 0) {
    <div class="container">

        <div class="row">
            <div class="container bg-dark bg-opacity-75 text-white mx-2 p-4 border col">
                <h4 class="fw-bold">Cadastrar usuário</h4>   
                <div>
                    <div class="mb-3">
        
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" @bind="InputUsuario">
        
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" @bind="InputSenha">
        
                    </div>
                    
                    <button type="button" class="btn btn-primary" @onclick="PostUser">Enviar</button>
                </div>   
            </div>


            <div class="container bg-dark bg-opacity-75 text-white mx-2 p-4 border col">
                <h4 class="fw-bold">Lista de Usuários</h4>
        
                <table class="table table-light table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Usuário</th>
                            <th>Data Criação</th>
                            <th>Deletar</th>
                            <th>Atualizar</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-corpo">
                        @if (Usuarios != null) {
                            @foreach (var usuario in Usuarios) {
                                <tr class="justify-content-center">
                                    <td>@usuario.Usuario</td>
                                    <td>@usuario.DataCriacao</td>
                                    <td><button type="button" class="btn btn-danger" @onclick="() => DeleteUser(usuario.Id)">Deletar</button></td>
                                    <td><button type="button" class="btn btn-warning" @onclick="() => PreencherAtualizar(usuario.Id, usuario.Usuario, usuario.DataCriacao)">Atualizar</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
}


@if (Mostrar == 1) {
    <div class="container">
        <div class="row">
            <div class="container bg-dark bg-opacity-75 text-white mx-2 p-4 border col">
                <h4 class="fw-bold">Atualizar usuário</h4>   
                <div>
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Novo usuário</label>
                        <input type="text" class="form-control" id="atualizar-usuario" name="atualizar-usuario" @bind="AtualizarUsuario">

                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Novo senha</label>
                        <input type="password" class="form-control" id="atualizar-senha" name="atualizar-senha">
                    </div>
                    
                    <button type="button" class="btn btn-primary" @onclick="UpdateUser">Atualizar</button>
                    <button type="button" class="btn btn-warning" @onclick="CancelarUpdate">Cancelar</button>
                </div>   
            </div>
            <div class="container col">

            </div>
        </div>
    </div>
    
}
