@page "/"

<PageTitle>SIA - Sistema Internacional de Aeronaves</PageTitle>

<div class="container-fluid bg-image">
    
    <div class="container d-flex justify-content-center" style="height:50px;">
        <img src="../images/voe-airlines-logo.png" class="img-fluid" alt="VoeAirlines">
    </div>

</div>