@inherits LayoutComponentBase

<PageTitle>voeairlines-blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        

        <article class="content bg-image p-0 imagem-fundo">

            <div class="top-row px-4">
                <a href="autenticar" class="btn btn-primary text-white">Entrar</a>
            </div>

            @Body
        </article>
    </main>
</div>
