<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <img src="../images/voe-airlines-logo.png" class="img-fluid" alt="VoeAirlines"> *@
        <a href="" style="color:white" class="navbar-brand">SIA - Gestão de Aeronaves</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autenticar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Autenticar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aeronave">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Adicionar Aeronave
            </NavLink>
        </div>
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
